<div class="card text-center footer">
  <div class="card-header">
    <div class="support">Współpraca</div>
    <img src="../../assets/imageplaceholder.svg" alt="logo" class="img-thumbnail">
    <img src="../../assets/imageplaceholder.svg" alt="logo" class="img-thumbnail">
    <img src="../../assets/imageplaceholder.svg" alt="logo" class="img-thumbnail">
    <img src="../../assets/imageplaceholder.svg" alt="logo" class="img-thumbnail">
    <img src="../../assets/imageplaceholder.svg" alt="logo" class="img-thumbnail">
    <img src="../../assets/imageplaceholder.svg" alt="logo" class="img-thumbnail">
    <img src="../../assets/imageplaceholder.svg" alt="logo" class="img-thumbnail">
    <img src="../../assets/imageplaceholder.svg" alt="logo" class="img-thumbnail">
  </div>
  <div class="card-body all-card-body">
      <div class="card about">
        <div class="card-body">
          <h5 class="card-title">O stronie</h5>
          <h5 class="subhead">Słów kilka</h5>
          <p class="card-text">Strona powstała w celu rozwiązania problemu lokalizowania miejsc do ćwiczeń.
            Napisałem ją w wolnym czasie i jej rozwijanie opiera się na dobrej woli oraz darmowej pracy wielu osób, którym należy się za to szacunek.
            Jeżeli pomoże chociaż jednej osobie to będę bardzo zadowolony.
          </p>
          <h5 class="subhead">Przyszłość i pomysły</h5>
          <p class="card-text">
            W przyszłości również chcę stworzyć panel z pomocą w ćwiczeniach dla każdego stopnia zaawansowania oraz zapewniać pomoc trenerską.
            Jeżeli masz ciekawe pomysły na rozwój strony koniecznie napisz do nas lub dodaj swoją opinie na reddicie.
          </p>
        </div>
      </div>
      <div class="card social-media">
        <div class="card-body">
          <h5 class="card-title">Media społecznościowe</h5>
          <ul class="list-unstyled">
            <li class="media">
              <img src="../../assets/socialMedia/facebook-footer-icon.png" class="mr-3" alt="...">
                <h5 class="mt-0 mb-1">Polub nas na Facebooku</h5>
            </li>
            <li class="media">
              <img src="../../assets/socialMedia/google-footer-icon.png" class="mr-3" alt="...">
                <h5 class="mt-0 mb-1">Dodaj nas na Google+</h5>
            </li>
            <li class="media">
              <img src="../../assets/socialMedia/instagram-footer-icon.png" class="mr-3" alt="...">
                <h5 class="mt-0 mb-1">Obserwuj nas na Instagramie</h5>
            </li>
            <li class="media">
              <img src="../../assets/socialMedia/reddit-footer-icon.png" class="mr-3" alt="...">
              <h5 class="mt-0 mb-1">Zainspiruj nas na Reddicie</h5>
            </li>
          </ul>
        </div>
      </div>
      <div class="card contact">
        <div class="card-body">
          <h5 class="card-title">Kontakt</h5>
          <ul class="list-unstyled">
            <li class="media">
              <img src="../../assets/contact/phone-icon.png" class="mr-3" alt="...">
              <h5 class="mt-0 mb-1">123 456 789</h5>
            </li>
            <li class="media">
              <img src="../../assets/contact/envelope-icon.png" class="mr-3" alt="...">
              <h5 class="mt-0 mb-1">outdoor-map@gmail.com</h5>
            </li>
            <li class="media">
              <img src="../../assets/contact/cooperation-icon.png" class="mr-3" alt="...">
              <h5 class="mt-0 mb-1">Współpraca: outdoor-map-coop@gmail.com</h5>
            </li>
            <li class="media">
              <img src="../../assets/contact/idea-icon.png" class="mr-3" alt="...">
              <h5 class="mt-0 mb-1">Pomysły: outdoor-map-ideas@gmail.com</h5>
            </li>
          </ul>
        </div>
      </div>
  </div>
  <div class="card-group">
    <div class="card-footer w-25">
      Autor strony: <p> Łukasz Biały</p>
    </div>
    <div class="card-footer w-25">
      Email: <p>bialylukasz61@gmail.com</p>
    </div>
    <div class="card-footer w-25">
      <a href="https://pl.linkedin.com/">
        <p>LinkedIn</p>
      </a>
    </div>
    <div class="card-footer w-25">
      Telefon: <p>791 818 755</p>
    </div>
  </div>
</div>
