<div class="collapse show" id="navbarToggleExternalContent">
  <div  class="p-2 navbar-dark">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active-link" class="nav-link" >Strona główna</a>
      </li>
      <li class="nav-item">
        <a routerLink="/maps" class="nav-link" routerLinkActive="active-link">Mapy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="imprezy.html">Imprezy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="login.html">Logowanie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="autor.html">O autorze</a>
      </li>
    </ul>
  </div>
</div>
<nav class="navbar navbar-dark">
    <button class="navbar-toggler navbutton" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
