<div class="collapse show" id="navbarToggleExternalContent">
  <div  class="p-0 navbar-dark">
    <div class="nav dip-block">
        <div class="small">
          <a routerLink="/home" routerLinkActive="active-link" class="nav-link" >Home</a>
        </div>
       <div class="small">
         <a routerLink="/maps" routerLinkActive="active-link" class="nav-link" >Mapy</a>
       </div>
        <div class="small">
          <a class="nav-link" href="imprezy.html">Imprezy</a>
        </div>
    </div>
    <div class="small register dip-block">
      <a routerLink="/login" routerLinkActive="active-link" >Zaloguj</a><br>
      <a href="/login" >Zarejestruj</a>
    </div>
  </div>
</div>
<nav class="navbar navbar-dark">
    <button class="navbar-toggler navbutton" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
