<div class="info">
</div>

<div class="ontop" (click)="Kliknij()">
    <div class="single_description">
      <div class="description_name"> Nazwa</div>
      <div class="description_value"> Poligon</div>
    </div>
    <div class="single_description">
      <div class="description_name"> Galeria</div>
      <div class="description_value"> Poligon</div>
    </div>
    <div class="single_description">
      <div class="description_name"> Miasto</div>
      <div class="description_value"> Poligon</div>
    </div>
    <div class="single_description">
      <div class="description_name"> Ulica</div>
      <div class="description_value"> Poligon</div>
    </div>
    <div class="single_description">
      <div class="description_name"> Wielkość</div>
      <div class="description_value"> Poligon</div>
    </div>
    <div class="single_description">
      <div class="description_name"> Koszt</div>
      <div class="description_value"> Poligon</div>
    </div>
    <div class="single_description">
      <div class="description_name"> Zabudowany</div>
      <div class="description_value"> Poligon</div>
    </div>
    <div class="single_description">
      <div class="description_name"> Dostępność</div>
      <div class="description_value"> Poligon</div>
    </div>
    <div class="single_description">
      <div class="description_name"> Sprzęt</div>
      <div class="description_value"> Poligon</div>
    </div>
</div>
