img{
  opacity:0.8;
  height: auto;
  width:100%;
}
.logo{
  border-color: red;
  border-style: dotted;
  width:40%;
  margin-left:10%;
  margin-top:40px;

}
.logodesc{
  border-color: blue;
  border-style: dotted;
  width:40%;
  text-align: center;
  margin-top:40px;
}
