
  <div class="card-group">
    <div class="logo">
      <img src="../../assets/logo.png" alt="Logo">
    </div>
    <div class="logodesc">
      Strona ma pomóc wszystkim freakom street workoutu, kalisteniki oraz ludziom lubiącym ruch na świeżym powietrzu, niezależnie od poziomu zaawansowania każdy znajdzie tutaj coś
      dla siebie. Sam kiedyś studiując musiałem zmieniać miejsce mojego zamieszkania około raz na rok i spotkałem się z problemem, że nie mogę znaleźć najbliżeszego parku czy nawet trzepaku na
      którym mógłbym poćwiczyć. Moje poszukiwania kończyły się tak, że albo nadkładałem drogi, albo wogóle nie mogłem znaleźć parku w dostępnym dla mnie czasowo miejscu. W ramach swojego wolnego czasu
      postanowiłem stworzyć ten portal. Będę zadowolony jeżeli nawet 1 osoba z niego skorzysta i jej pomoże.
    </div>
  </div>
